{% extends "./layout/default" %}
{% block content %}
    <div class="row">
        <div class="col">
            <p>
                You have {{ cards|length }} contact card(s) locally available. Use the command line to synchronise if necessary.
            </p>
            <p>
                <a href="{{ route('scanner.index') }}" class="btn btn-primary" role="button">Scan contacts</a>
            </p>
            <p>
                <a class="btn btn-secondary" href="{{ route('information.list_email_domains') }}">View email domains</a>
            </p>
        </div>
    </div>
    <div class="row">
        {% for card in cards %}
            <div class="col-1">
                {% for name in card.contact_names %}
                    <a href="{{ route('contact.view', [card.id]) }}"><img
                                src="{% if card.photo_uri == '' %}img/no-photo.png{% else %}{{ card.photo_uri }}{% endif %}"
                                class="img-thumbnail"><br></a>
                    <a href="{{ route('contact.view', [card.id]) }}">{{ name.full_name }}</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}