<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="{{ route('home') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <title>Contact scanner and fixer</title>
</head>
<body>
<div class="container">
    <h1>Contact scanner and fixer
        <small class="text-muted">Nice ey?</small>
    </h1>
{% block content %}{% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js" crossorigin="anonymous"></script>
    <script src="bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>