{% extends "./layout/default" %}
{% block content %}
    <div class="row">
        <div class="col">
            <p>
                The tool has found {{ problems|length }} problems.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ol>
            {% for problem in problems %}
                <li><a href="#" class="btn btn-secondary btn-sm">fix</a> {{ problem.getDescription }}</li>
            {% endfor %}
            </ol>
        </div>
    </div>

    </div>
{% endblock %}