{% extends "./layout/default" %}
{% block content %}
<h2>Email domains</h2>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Domain</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                    {% for host, count in grouped %}
                        <tr>
                            <td>{{ host }}</td>
                            <td>{{ count }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}